In [2]:
# Include this line to make plots interactive
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd

In [84]:
#Import CSVs
top1000 = pd.read_csv('data_sets/Highest Holywood Grossing Movies.csv')
top5000 = pd.read_csv('data_sets/tmdb_5000_movies.csv')

top1000.head()
#top5000.head()

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,16-Dec-15,936662225,1132859475,2069521700,"Action, Adventure, Sci-Fi",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,24-Apr-19,858373000,1939128328,2797501328,"Action, Adventure, Drama, Sci-Fi",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,16-Dec-09,760507625,2086738578,2847246203,"Action, Adventure, Fantasy, Sci-Fi",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"Action, Adventure, Sci-Fi",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"Action, Adventure, Sci-Fi",2 hr 29 min,NaN

In [85]:
#Clean up data. Rows to keep: Top1000: 'Title', 'Distributor', 'Domestic Sales (in $)', 'International Sales (in $)', 'Genre'
#Top 5000:'title', 'vote_average', 'revenue', 'release_date', 'budget'

top1000 = top1000[['Title', 'Distributor', 'Domestic Sales (in $)', 'International Sales (in $)', 'Genre']]
top5000 = top5000[['title', 'vote_average', 'release_date', 'revenue', 'budget']]

top1000.head()
#top5000.head()

,Title,Distributor,Domestic Sales (in $),International Sales (in $),Genre
0,Star Wars: Episode VII - The Force Awakens (2015),Walt Disney Studios Motion Pictures,936662225,1132859475,"Action, Adventure, Sci-Fi"
1,Avengers: Endgame (2019),Walt Disney Studios Motion Pictures,858373000,1939128328,"Action, Adventure, Drama, Sci-Fi"
2,Avatar (2009),Twentieth Century Fox,760507625,2086738578,"Action, Adventure, Fantasy, Sci-Fi"
3,Black Panther (2018),Walt Disney Studios Motion Pictures,700426566,647171407,"Action, Adventure, Sci-Fi"
4,Avengers: Infinity War (2018),Walt Disney Studios Motion Pictures,678815482,1369544272,"Action, Adventure, Sci-Fi"

In [86]:
#Clean up titles in Top1000 for easier merge

new_title = []

for x in top1000['Title']:
    
    old_title = x
    size = len(old_title)
    # Slice string to remove last 3 characters from
    Title = old_title[:size - 7]
    new_title.append(Title)
    #top1000.replace(to_replace= top1000['Title'], 
                     #value=Title 
                     #)
            
del top1000['Title']


            
top1000['title'] =  new_title


top1000.head()

,Distributor,Domestic Sales (in $),International Sales (in $),Genre,title
0,Walt Disney Studios Motion Pictures,936662225,1132859475,"Action, Adventure, Sci-Fi",Star Wars: Episode VII - The Force Awakens
1,Walt Disney Studios Motion Pictures,858373000,1939128328,"Action, Adventure, Drama, Sci-Fi",Avengers: Endgame
2,Twentieth Century Fox,760507625,2086738578,"Action, Adventure, Fantasy, Sci-Fi",Avatar
3,Walt Disney Studios Motion Pictures,700426566,647171407,"Action, Adventure, Sci-Fi",Black Panther
4,Walt Disney Studios Motion Pictures,678815482,1369544272,"Action, Adventure, Sci-Fi",Avengers: Infinity War

In [87]:
#merge the two datasets

final_movie_dataset = top1000.merge(top5000, how='left', on='title')

final_movie_dataset = final_movie_dataset.dropna(how='any',axis=0) 

final_movie_dataset.head()

#final_movie_dataset['release_date'].max()

,Distributor,Domestic Sales (in $),International Sales (in $),Genre,title,vote_average,release_date,revenue,budget
2,Twentieth Century Fox,760507625,2086738578,"Action, Adventure, Fantasy, Sci-Fi",Avatar,7.2,2009-12-10,2.787965e+09,237000000.0
6,Paramount Pictures,659363944,1542283320,"Drama, Romance",Titanic,7.5,1997-11-18,1.845034e+09,200000000.0
7,Universal Pictures,652385625,1018130819,"Action, Adventure, Sci-Fi",Jurassic World,6.5,2015-06-09,1.513529e+09,150000000.0
8,Walt Disney Studios Motion Pictures,623357910,895457605,"Action, Adventure, Sci-Fi",The Avengers,7.4,2012-04-25,1.519558e+09,220000000.0
11,Walt Disney Studios Motion Pictures,543638043,1119261396,"Adventure, Animation, Drama, Family, Musical",The Lion King,8.0,1994-06-23,7.882418e+08,45000000.0

In [88]:
#Update revenue

for row in final_movie_dataset:
    new_rev = (final_movie_dataset['Domestic Sales (in $)']+ final_movie_dataset['International Sales (in $)'])

    
    
del final_movie_dataset['revenue']


            
final_movie_dataset['Revenue'] =  new_rev

final_movie_dataset.head()

,Distributor,Domestic Sales (in $),International Sales (in $),Genre,title,vote_average,release_date,budget,Revenue
2,Twentieth Century Fox,760507625,2086738578,"Action, Adventure, Fantasy, Sci-Fi",Avatar,7.2,2009-12-10,237000000.0,2847246203
6,Paramount Pictures,659363944,1542283320,"Drama, Romance",Titanic,7.5,1997-11-18,200000000.0,2201647264
7,Universal Pictures,652385625,1018130819,"Action, Adventure, Sci-Fi",Jurassic World,6.5,2015-06-09,150000000.0,1670516444
8,Walt Disney Studios Motion Pictures,623357910,895457605,"Action, Adventure, Sci-Fi",The Avengers,7.4,2012-04-25,220000000.0,1518815515
11,Walt Disney Studios Motion Pictures,543638043,1119261396,"Adventure, Animation, Drama, Family, Musical",The Lion King,8.0,1994-06-23,45000000.0,1662899439

In [89]:
#Create profit column

for row in final_movie_dataset:
    value = (final_movie_dataset['Revenue']- final_movie_dataset['budget'])
  


final_movie_dataset['Profit/Loss']= value

final_movie_dataset.head()

,Distributor,Domestic Sales (in $),International Sales (in $),Genre,title,vote_average,release_date,budget,Revenue,Profit/Loss
2,Twentieth Century Fox,760507625,2086738578,"Action, Adventure, Fantasy, Sci-Fi",Avatar,7.2,2009-12-10,237000000.0,2847246203,2.610246e+09
6,Paramount Pictures,659363944,1542283320,"Drama, Romance",Titanic,7.5,1997-11-18,200000000.0,2201647264,2.001647e+09
7,Universal Pictures,652385625,1018130819,"Action, Adventure, Sci-Fi",Jurassic World,6.5,2015-06-09,150000000.0,1670516444,1.520516e+09
8,Walt Disney Studios Motion Pictures,623357910,895457605,"Action, Adventure, Sci-Fi",The Avengers,7.4,2012-04-25,220000000.0,1518815515,1.298816e+09
11,Walt Disney Studios Motion Pictures,543638043,1119261396,"Adventure, Animation, Drama, Family, Musical",The Lion King,8.0,1994-06-23,45000000.0,1662899439,1.617899e+09

In [90]:
#Calculate domestic and international sales distributions


for row in final_movie_dataset:
    dom_rate = ((final_movie_dataset['Domestic Sales (in $)']/final_movie_dataset['Revenue'])*100).map("{:.2f}%".format)
    
final_movie_dataset['Domestic Sales (as % of total Revenue)'] = dom_rate

for row in final_movie_dataset:
    int_rate = ((final_movie_dataset['International Sales (in $)']/final_movie_dataset['Revenue'])*100).map("{:.2f}%".format)
    
final_movie_dataset['International Sales (as % of total Revenue)'] = int_rate

#Organize columns into more logical order

final_movie_dataset = final_movie_dataset[['title',
                                           'Distributor',
                                           'Genre',
                                           'release_date',
                                           'budget',
                                           'Domestic Sales (in $)',
                                           'International Sales (in $)',
                                           'Domestic Sales (as % of total Revenue)',
                                           'International Sales (as % of total Revenue)',
                                           'Revenue',
                                           'Profit/Loss',
                                           'vote_average'
                                          ]]


final_movie_dataset.head(20)

,title,Distributor,Genre,release_date,budget,Domestic Sales (in $),International Sales (in $),Domestic Sales (as % of total Revenue),International Sales (as % of total Revenue),Revenue,Profit/Loss,vote_average
2,Avatar,Twentieth Century Fox,"Action, Adventure, Fantasy, Sci-Fi",2009-12-10,237000000.0,760507625,2086738578,26.71%,73.29%,2847246203,2.610246e+09,7.2
6,Titanic,Paramount Pictures,"Drama, Romance",1997-11-18,200000000.0,659363944,1542283320,29.95%,70.05%,2201647264,2.001647e+09,7.5
7,Jurassic World,Universal Pictures,"Action, Adventure, Sci-Fi",2015-06-09,150000000.0,652385625,1018130819,39.05%,60.95%,1670516444,1.520516e+09,6.5
8,The Avengers,Walt Disney Studios Motion Pictures,"Action, Adventure, Sci-Fi",2012-04-25,220000000.0,623357910,895457605,41.04%,58.96%,1518815515,1.298816e+09,7.4
11,The Lion King,Walt Disney Studios Motion Pictures,"Adventure, Animation, Drama, Family, Musical",1994-06-23,45000000.0,543638043,1119261396,32.69%,67.31%,1662899439,1.617899e+09,8.0
12,The Dark Knight,Warner Bros.,"Action, Crime, Drama, Thriller",2008-07-16,185000000.0,534858444,471115201,53.17%,46.83%,1005973645,8.209736e+08,8.2
18,Star Wars: Episode I - The Phantom Menace,Twentieth Century Fox,"Action, Adventure, Fantasy, Sci-Fi",1999-05-19,115000000.0,474544677,552538030,46.20%,53.80%,1027082707,9.120827e+08,6.3
20,Avengers: Age of Ultron,Walt Disney Studios Motion Pictures,"Action, Adventure, Sci-Fi",2015-04-22,280000000.0,459005868,943803672,32.72%,67.28%,1402809540,1.122810e+09,7.3
21,The Dark Knight Rises,Warner Bros.,"Action, Crime, Drama",2012-07-16,250000000.0,448139099,633003513,41.45%,58.55%,1081142612,8.311426e+08,7.6
22,Shrek 2,DreamWorks Distribution,"Adventure, Animation, Comedy, Family, Fantasy,...",2004-05-19,150000000.0,441226247,487534523,47.51%,52.49%,928760770,7.787608e+08,6.7
23,E.T. the Extra-Terrestrial,Universal Pictures,"Adventure, Family, Sci-Fi",1982-04-03,10500000.0,435110554,304203888,58.85%,41.15%,739314442,7.288144e+08,7.3
26,The Hunger Games: Catching Fire,Lionsgate,"Action, Adventure, Drama, Sci-Fi, Thriller",2013-11-15,130000000.0,424668047,440343699,49.09%,50.91%,865011746,7.350117e+08,7.4
27,Pirates of the Caribbean: Dead Man's Chest,Walt Disney Studios Motion Pictures,"Action, Adventure, Fantasy",2006-06-20,200000000.0,423315812,642863935,39.70%,60.30%,1066179747,8.661797e+08,7.0
28,The Lion King,Walt Disney Studios Motion Pictures,"Adventure, Animation, Drama, Family, Musical",1994-06-23,45000000.0,422783777,640828028,39.75%,60.25%,1063611805,1.018612e+09,8.0
30,Toy Story 3,Walt Disney Studios Motion Pictures,"Adventure, Animation, Comedy, Family, Fantasy",2010-06-16,200000000.0,415004880,651965931,38.90%,61.10%,1066970811,8.669708e+08,7.6
32,Iron Man 3,Walt Disney Studios Motion Pictures,"Action, Adventure, Sci-Fi",2013-04-18,200000000.0,409013994,805797258,33.67%,66.33%,1214811252,1.014811e+09,6.8
33,Captain America: Civil War,Walt Disney Studios Motion Pictures,"Action, Adventure, Sci-Fi",2016-04-27,250000000.0,408084349,745253147,35.38%,64.62%,1153337496,9.033375e+08,7.1
34,The Hunger Games,Lionsgate,"Action, Adventure, Sci-Fi, Thriller",2012-03-12,75000000.0,408010692,286384032,58.76%,41.24%,694394724,6.193947e+08,6.9
35,Spider-Man,Sony Pictures Entertainment (SPE),"Action, Adventure, Sci-Fi",2002-05-01,139000000.0,407022860,418002176,49.33%,50.67%,825025036,6.860250e+08,6.8
37,Jurassic Park,Universal Pictures,"Action, Adventure, Sci-Fi, Thriller",1993-06-11,63000000.0,404214720,629713583,39.10%,60.90%,1033928303,9.709283e+08,7.6

In [91]:
final_movie_dataset.head(20)

,title,Distributor,Genre,release_date,budget,Domestic Sales (in $),International Sales (in $),Domestic Sales (as % of total Revenue),International Sales (as % of total Revenue),Revenue,Profit/Loss,vote_average
2,Avatar,Twentieth Century Fox,"Action, Adventure, Fantasy, Sci-Fi",2009-12-10,237000000.0,760507625,2086738578,26.71%,73.29%,2847246203,2.610246e+09,7.2
6,Titanic,Paramount Pictures,"Drama, Romance",1997-11-18,200000000.0,659363944,1542283320,29.95%,70.05%,2201647264,2.001647e+09,7.5
7,Jurassic World,Universal Pictures,"Action, Adventure, Sci-Fi",2015-06-09,150000000.0,652385625,1018130819,39.05%,60.95%,1670516444,1.520516e+09,6.5
8,The Avengers,Walt Disney Studios Motion Pictures,"Action, Adventure, Sci-Fi",2012-04-25,220000000.0,623357910,895457605,41.04%,58.96%,1518815515,1.298816e+09,7.4
11,The Lion King,Walt Disney Studios Motion Pictures,"Adventure, Animation, Drama, Family, Musical",1994-06-23,45000000.0,543638043,1119261396,32.69%,67.31%,1662899439,1.617899e+09,8.0
12,The Dark Knight,Warner Bros.,"Action, Crime, Drama, Thriller",2008-07-16,185000000.0,534858444,471115201,53.17%,46.83%,1005973645,8.209736e+08,8.2
18,Star Wars: Episode I - The Phantom Menace,Twentieth Century Fox,"Action, Adventure, Fantasy, Sci-Fi",1999-05-19,115000000.0,474544677,552538030,46.20%,53.80%,1027082707,9.120827e+08,6.3
20,Avengers: Age of Ultron,Walt Disney Studios Motion Pictures,"Action, Adventure, Sci-Fi",2015-04-22,280000000.0,459005868,943803672,32.72%,67.28%,1402809540,1.122810e+09,7.3
21,The Dark Knight Rises,Warner Bros.,"Action, Crime, Drama",2012-07-16,250000000.0,448139099,633003513,41.45%,58.55%,1081142612,8.311426e+08,7.6
22,Shrek 2,DreamWorks Distribution,"Adventure, Animation, Comedy, Family, Fantasy,...",2004-05-19,150000000.0,441226247,487534523,47.51%,52.49%,928760770,7.787608e+08,6.7
23,E.T. the Extra-Terrestrial,Universal Pictures,"Adventure, Family, Sci-Fi",1982-04-03,10500000.0,435110554,304203888,58.85%,41.15%,739314442,7.288144e+08,7.3
26,The Hunger Games: Catching Fire,Lionsgate,"Action, Adventure, Drama, Sci-Fi, Thriller",2013-11-15,130000000.0,424668047,440343699,49.09%,50.91%,865011746,7.350117e+08,7.4
27,Pirates of the Caribbean: Dead Man's Chest,Walt Disney Studios Motion Pictures,"Action, Adventure, Fantasy",2006-06-20,200000000.0,423315812,642863935,39.70%,60.30%,1066179747,8.661797e+08,7.0
28,The Lion King,Walt Disney Studios Motion Pictures,"Adventure, Animation, Drama, Family, Musical",1994-06-23,45000000.0,422783777,640828028,39.75%,60.25%,1063611805,1.018612e+09,8.0
30,Toy Story 3,Walt Disney Studios Motion Pictures,"Adventure, Animation, Comedy, Family, Fantasy",2010-06-16,200000000.0,415004880,651965931,38.90%,61.10%,1066970811,8.669708e+08,7.6
32,Iron Man 3,Walt Disney Studios Motion Pictures,"Action, Adventure, Sci-Fi",2013-04-18,200000000.0,409013994,805797258,33.67%,66.33%,1214811252,1.014811e+09,6.8
33,Captain America: Civil War,Walt Disney Studios Motion Pictures,"Action, Adventure, Sci-Fi",2016-04-27,250000000.0,408084349,745253147,35.38%,64.62%,1153337496,9.033375e+08,7.1
34,The Hunger Games,Lionsgate,"Action, Adventure, Sci-Fi, Thriller",2012-03-12,75000000.0,408010692,286384032,58.76%,41.24%,694394724,6.193947e+08,6.9
35,Spider-Man,Sony Pictures Entertainment (SPE),"Action, Adventure, Sci-Fi",2002-05-01,139000000.0,407022860,418002176,49.33%,50.67%,825025036,6.860250e+08,6.8
37,Jurassic Park,Universal Pictures,"Action, Adventure, Sci-Fi, Thriller",1993-06-11,63000000.0,404214720,629713583,39.10%,60.90%,1033928303,9.709283e+08,7.6

In [92]:
final_movie_dataset.columns

Index(['title', 'Distributor', 'Genre', 'release_date', 'budget',
       'Domestic Sales (in $)', 'International Sales (in $)',
       'Domestic Sales (as % of total Revenue)',
       'International Sales (as % of total Revenue)', 'Revenue', 'Profit/Loss',
       'vote_average'],
      dtype='object')

In [122]:
# unique_list = []
     
# traverse for all elements

# genre_list = (final_movie_dataset['Genre'].str.split(',')) 

# for index, row in final_movie_dataset.iteritems():
#     print(index, row)
#     for genre in row['Genre']:
#         if genre not in unique_list:
#             unique_list.append(genre)
            
# df_out = final_movie_dataset['Genre'].str.split(',', )

# df_out
   
list1 = final_movie_dataset['Genre'].tolist()
list1

# for genre in list1:
#     if genre not in unique_list:
#         unique_list.append(genre) 


    
        
# # print list
# print(unique_list)

['Action, Adventure, Fantasy, Sci-Fi',
 'Drama, Romance',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Adventure, Animation, Drama, Family, Musical',
 'Action, Crime, Drama, Thriller',
 'Action, Adventure, Fantasy, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Crime, Drama',
 'Adventure, Animation, Comedy, Family, Fantasy, Romance',
 'Adventure, Family, Sci-Fi',
 'Action, Adventure, Drama, Sci-Fi, Thriller',
 'Action, Adventure, Fantasy',
 'Adventure, Animation, Drama, Family, Musical',
 'Adventure, Animation, Comedy, Family, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi, Thriller',
 'Action, Adventure, Sci-Fi',
 'Adventure, Animation, Comedy, Family, Fantasy, Musical',
 'Adventure, Animation, Comedy, Family',
 'Action, Adventure, Fantasy, Sci-Fi',
 'Action, Adventure, Drama, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Drama',
 'Adventure, Animation, Comedy, Family',
 'Adventure, Animation, Comedy, Crime, Family, Sci-Fi',
 'Adventure, Drama, Family, Fantasy',
 'Action, Adventure, Comedy, Sci-Fi',
 'Adventure, Animation, Comedy, Drama, Family, Fantasy, Sci-Fi',
 'Adventure, Comedy, Family, Fantasy, Musical, Romance',
 'Action, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Biography, Drama, War',
 'Action, Adventure, Drama, Fantasy',
 'Action, Adventure, Sci-Fi, Thriller',
 'Action, Adventure, Sci-Fi',
 'Adventure, Animation, Comedy, Crime, Family, Sci-Fi',
 'Adventure, Family, Fantasy, Mystery',
 'Action, Adventure, Comedy, Sci-Fi',
 'Drama, Romance',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Fantasy, Sci-Fi',
 'Adventure, Animation, Comedy, Family, Fantasy, Romance',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure',
 'Action, Adventure, Drama, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Fantasy, Sci-Fi',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Thriller',
 'Adventure, Fantasy',
 'Action, Adventure, Family, Fantasy, Mystery',
 'Action, Adventure, Drama, Fantasy, Romance, Thriller',
 'Adventure, Drama, Fantasy, Romance',
 'Drama, Mystery, Thriller',
 'Adventure, Animation, Comedy, Drama, Family',
 'Action, Adventure, Sci-Fi, Thriller',
 'Action, Adventure, Family, Fantasy, Mystery',
 'Adventure, Drama, Fantasy, Romance',
 'Adventure, Family, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Adventure, Animation, Comedy, Family, Fantasy',
 'Adventure, Family, Fantasy, Mystery',
 'Comedy, Family',
 'Action, Adventure, Sci-Fi, Thriller',
 'Action, Sci-Fi',
 'Comedy, Romance',
 'Comedy',
 'Action, Drama, Sci-Fi, Thriller',
 'Adventure, Animation, Comedy, Family, Fantasy',
 'Adventure, Animation, Comedy, Family, Fantasy, Romance',
 'Adventure, Family, Fantasy, Mystery',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Animation, Family',
 'Adventure, Thriller',
 'Comedy, Family, Fantasy',
 'Action, Adventure, Sci-Fi, Thriller',
 'Adventure, Fantasy',
 'Action, Adventure, Animation, Comedy, Family, Fantasy, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Drama, Sci-Fi, Thriller',
 'Biography, Drama, Sport',
 'Adventure, Fantasy',
 'Comedy',
 'Adventure, Animation, Comedy, Crime, Family, Sci-Fi',
 'Action, Adventure',
 'Action, Adventure',
 'Adventure, Comedy, Family, Fantasy',
 'Action, Adventure, Comedy, Sci-Fi',
 'Adventure, Family, Fantasy, Mystery',
 'Adventure, Animation, Comedy, Family, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Adventure, Animation, Comedy, Family, Sport',
 'Action, Comedy, Fantasy, Sci-Fi',
 'Comedy, Fantasy',
 'Action, Adventure, Thriller',
 'Comedy, Drama, Romance',
 'Adventure, Family, Fantasy, Romance',
 'Action, Adventure, Fantasy',
 'Adventure, Animation, Comedy, Family, Fantasy, Romance',
 'Adventure, Animation, Comedy, Family, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi, Thriller',
 'Adventure, Drama, Romance',
 'Horror',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Adventure, Drama, Sci-Fi',
 'Drama, Mystery, Sci-Fi, Thriller',
 'Action, Drama, Fantasy',
 'Action, Mystery, Thriller',
 'Action, Comedy, Crime, Thriller',
 'Adventure, Animation, Family, Sci-Fi',
 'Action, Adventure, Animation, Comedy, Family, Sci-Fi',
 'Adventure, Animation, Comedy, Drama, Family, Fantasy, Music, Musical',
 'Comedy, Drama, Family',
 'Comedy',
 'Action, Adventure, Drama, Romance',
 'Drama, Fantasy, Romance, Thriller',
 'Action, Adventure, Animation, Comedy, Family, Fantasy',
 'Mystery, Thriller',
 'Adventure, Animation, Comedy, Family, Fantasy, Musical, Romance',
 'Adventure, Animation, Comedy, Drama, Family, Fantasy, Music, Musical',
 'Drama, War',
 'Adventure, Animation, Comedy, Family',
 'Action, Adventure, Animation, Comedy, Family, Fantasy',
 'Action, Adventure, Thriller',
 'Action, Adventure, Comedy, Crime',
 'Adventure, Comedy, Sci-Fi',
 'Action, Drama',
 'Action, Crime, Thriller',
 'Action, Adventure, Thriller',
 'Action, Adventure, Mystery',
 'Action, Adventure, Drama, Sci-Fi, Thriller',
 'Action, Crime, Drama',
 'Adventure, Comedy, Family, Fantasy, Musical',
 'Adventure, Animation, Comedy, Family, Fantasy',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Comedy, Crime',
 'Action, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Horror, Sci-Fi',
 'Action, Adventure, Fantasy, Thriller',
 'Action, Adventure, Sci-Fi, Thriller',
 'Adventure, Drama, Family, Fantasy, Romance',
 'Adventure, Animation, Comedy, Family, Fantasy, Musical, Romance',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Thriller',
 'Action, Drama, History, Romance, War',
 'Adventure, Animation, Comedy, Family, Music, Musical, Romance',
 'Action, Adventure',
 'Adventure, Animation, Comedy, Family',
 'Adventure, Animation, Comedy, Family',
 'Action, Adventure, Thriller',
 'Drama, Fantasy, Romance',
 'Action, Adventure, Comedy, Mystery, Sci-Fi',
 'Adventure, Animation, Comedy, Family',
 'Action, Comedy, Crime',
 'Adventure, Animation, Comedy, Family, Sport',
 'Action, Adventure, Animation, Comedy, Sci-Fi',
 'Comedy, Musical, Romance',
 'Adventure, Animation, Comedy, Family, Fantasy, Sci-Fi',
 'Adventure, Drama, Sci-Fi',
 'Adventure, Animation, Comedy, Family, Fantasy, Musical',
 'Action, Adventure, Drama',
 'Adventure, Animation, Comedy, Family, Fantasy',
 'Action, Adventure, Mystery',
 'Action, Adventure, Sci-Fi, Thriller',
 'Action, Comedy, Crime, Thriller',
 'Adventure, Animation, Family, Fantasy, Musical, Romance',
 'Comedy, Music',
 'Adventure, Drama, Western',
 'Action, Adventure',
 'Action, Crime, Drama, Mystery, Thriller',
 'Action, Adventure, Drama, History, Western',
 'Crime, Thriller',
 'Adventure, Animation, Comedy',
 'Comedy, Fantasy, Romance',
 'Action, Adventure, Drama, Thriller',
 'Biography, Drama, History, War',
 'Comedy, Fantasy',
 'Action, Adventure, Sci-Fi, Thriller',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Thriller',
 'Action, Adventure, Comedy, Sci-Fi',
 'Action, Adventure, Sci-Fi, Thriller',
 'Adventure, Animation, Comedy, Family',
 'Action, Sci-Fi',
 'Action, Adventure',
 'Comedy, Romance',
 'Action, Adventure, Comedy, Sci-Fi',
 'Comedy, Romance',
 'Adventure, Animation, Comedy, Family, Fantasy, Sci-Fi',
 'Adventure, Comedy, Family, Fantasy',
 'Comedy, Drama, Romance',
 'Action, Adventure, Animation, Comedy, Family, Fantasy',
 'Action, Drama, Sci-Fi, Thriller',
 'Action, Adventure, Sci-Fi',
 'Adventure, Comedy, Family, Fantasy, Romance',
 'Action, Drama, Family, Sport',
 'Comedy, Romance',
 'Adventure, Animation, Comedy, Family',
 'Action, Mystery, Thriller',
 'Adventure, Drama, History',
 'Adventure, Comedy, Crime, Family',
 'Action, Adventure, Mystery, Thriller',
 'Action, Drama, Thriller',
 'Drama',
 'Action, Adventure, Sci-Fi',
 'Action, Sci-Fi',
 'Drama, Western',
 'Biography, Drama',
 'Comedy, Crime, Musical',
 'Drama',
 'Adventure, Animation, Comedy, Family, Fantasy, Horror',
 'Comedy, Romance',
 'Action, Adventure, Thriller',
 'Action, Adventure, Comedy',
 'Comedy, Drama, Family',
 'Drama, Mystery, Thriller',
 'Action, Adventure, Thriller',
 'Comedy, Romance',
 'Drama, Romance, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Drama, Romance',
 'Action, Adventure, Animation, Comedy, Family, Fantasy',
 'Biography, Crime, Drama',
 'Comedy, Drama, Romance',
 'Biography, Drama',
 'Comedy, Drama',
 'Action, Adventure, Fantasy',
 'Adventure, Animation, Comedy, Family, Fantasy',
 'Action, Crime, Fantasy',
 'Drama, Western',
 'Adventure, Animation, Comedy, Family, Fantasy',
 'Action, Thriller',
 'Comedy',
 'Comedy, Sport',
 'Adventure, Animation, Comedy, Family',
 'Biography, Drama, History, Music',
 'Action, Adventure, Thriller',
 'Adventure, Animation, Comedy, Family, Thriller',
 'Action, Comedy, Crime',
 'Crime, Horror, Thriller',
 'Action, Adventure, Sci-Fi, Thriller',
 'Drama, Mystery, Thriller',
 'Comedy, Crime, Sport',
 'Action, Adventure, Sci-Fi',
 'Drama, Horror, Mystery, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Drama, Fantasy',
 'Action, Adventure, Thriller',
 'Adventure, Animation, Comedy, Family',
 'Action, Adventure, Fantasy, Sci-Fi',
 'Action, Adventure, Sci-Fi, Thriller',
 'Comedy, Drama, Romance, Sport',
 'Adventure, Comedy, Family, Fantasy, Mystery',
 'Comedy, Romance',
 'Action, Adventure, Mystery, Sci-Fi',
 'Comedy, Crime',
 'Action, Sci-Fi',
 'Comedy, Family',
 'Action, Adventure, Sci-Fi, Thriller',
 'Comedy',
 'Crime, Drama',
 'Adventure, Animation, Comedy, Family, Fantasy',
 'Drama, Musical, Romance',
 'Comedy, Romance',
 'Comedy, Drama, Romance',
 'Comedy, Romance',
 'Action, Animation, Comedy, Crime, Family, Mystery, Sci-Fi, Thriller',
 'Animation, Comedy, Family, Fantasy, Horror',
 'Comedy, Sport',
 'Drama',
 'Action, Adventure, Sci-Fi',
 'Action, Comedy, Crime, Family',
 'Action, Comedy, Thriller',
 'Adventure, Animation, Comedy, Drama, Family, Fantasy, Sci-Fi',
 'Comedy, Drama, Family, Fantasy',
 'Comedy',
 'Action, Crime, Thriller',
 'Drama, Romance',
 'Action, Mystery, Sci-Fi, Thriller',
 'Action, Crime, Thriller',
 'Action, Crime, Thriller',
 'Comedy, Musical, Romance',
 'Comedy, Family, Fantasy',
 'Adventure, Animation, Comedy, Family, Music, Musical',
 'Action, Adventure, Animation, Comedy, Family, Fantasy',
 'Comedy, Drama',
 'Comedy, Drama, Family',
 'Adventure, Animation, Comedy, Family, Fantasy',
 'Action, Adventure, Thriller',
 'Action, Adventure, Family, Fantasy',
 'Adventure, Animation, Drama, Family, Musical, Romance',
 'Drama, Thriller',
 'Drama, Romance',
 'Horror, Mystery',
 'Action, Drama, Sci-Fi, Thriller',
 'Action, Comedy, Crime, Thriller',
 'Adventure, Comedy, Family, Fantasy',
 'Action, Crime, Thriller',
 'Action, Sci-Fi',
 'Comedy, Family, Fantasy',
 'Biography, Drama, History',
 'Comedy, Family',
 'Action, Comedy, Crime, Thriller',
 'Drama, War',
 'Action, Comedy, Crime',
 'Drama, Romance',
 'Adventure, Animation, Comedy, Drama, Family, Fantasy',
 'Adventure, Animation, Drama, Family, Fantasy',
 'Horror, Mystery, Thriller',
 'Comedy, Drama, Fantasy, Romance',
 'Crime, Drama, Fantasy, Mystery',
 'Action, Crime, Thriller',
 'Biography, Drama, Thriller',
 'Adventure, Animation, Comedy, Family, Fantasy, Sci-Fi',
 'Action, Adventure, Comedy, Family, Sci-Fi',
 'Biography, Comedy, Drama, Romance',
 'Crime, Drama',
 'Action, Comedy, Crime',
 'Action, Adventure, Sci-Fi',
 'Action, Thriller',
 'Action, Crime, Thriller',
 'Comedy, Crime, Drama',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Thriller',
 'Action, Adventure, Thriller',
 'Comedy',
 'Drama, History',
 'Action, Mystery, Thriller',
 'Adventure, Animation, Comedy, Family, Fantasy, Music, Musical',
 'Comedy',
 'Action, Sci-Fi',
 'Crime, Drama, Thriller',
 'Action, Sci-Fi',
 'Comedy, Drama, Romance',
 'Action, Crime, Mystery, Sci-Fi, Thriller',
 'Action, Adventure, Fantasy, Sci-Fi',
 'Action, Adventure, Family, Fantasy',
 'Adventure, Animation, Comedy, Family, Music, Musical',
 'Action, Adventure, Fantasy, Thriller',
 'Crime, Drama, Horror, Thriller',
 'Comedy, Family, Fantasy',
 'Action, Crime, Thriller',
 'Action, Adventure, Comedy',
 'Adventure, Animation, Comedy, Drama, Family',
 'Biography, Crime, Drama',
 'Drama',
 'Comedy, Romance, Sci-Fi',
 'Comedy',
 'Action, Comedy, Fantasy, Sci-Fi',
 'Adventure, Animation, Comedy, Family, Romance, Sci-Fi',
 'Action, Adventure, Drama, Fantasy, Romance',
 'Mystery, Thriller',
 'Adventure, Comedy, Drama, Fantasy, Musical',
 'Adventure, Animation, Comedy, Family, Fantasy, Musical, Romance',
 'Drama, Fantasy, Romance',
 'Action, Comedy, Crime',
 'Comedy',
 'Comedy, Romance',
 'Comedy',
 'Action, Crime, Thriller',
 'Comedy, Drama, Romance',
 'Action, Mystery, Sci-Fi, Thriller',
 'Action, Adventure, Thriller',
 'Action, Sci-Fi, Thriller',
 'Action, Adventure, Drama, Fantasy, Romance',
 'Adventure, Animation, Comedy, Drama, Family',
 'Adventure, Mystery, Sci-Fi',
 'Action, Thriller',
 'Comedy, Romance',
 'Comedy, Drama',
 'Biography, Drama',
 'Crime, Thriller',
 'Action, Sci-Fi',
 'Action, Adventure, Comedy, Crime, Thriller',
 'Action, Adventure, Thriller',
 'Action, Biography, Drama, War',
 'Drama, Romance',
 'Adventure, Drama, Fantasy',
 'Drama, Romance',
 'Adventure, Animation, Comedy, Drama, Family, Fantasy, Sci-Fi',
 'Comedy, Drama',
 'Comedy, Drama, Romance',
 'Crime, Drama, Thriller',
 'Action, Adventure, Animation, Comedy, Family, Western',
 'Comedy, Romance, Sci-Fi',
 'Adventure, Animation, Comedy, Drama, Family',
 'Action, Adventure, Sci-Fi, Thriller',
 'Action, Crime, Drama, Thriller',
 'Action, Adventure, Thriller',
 'Action, Drama, Music, Romance, Thriller',
 'Comedy, Music',
 'Action, Mystery, Thriller',
 'Comedy',
 'Action, Adventure, Thriller',
 'Comedy, Drama, Romance',
 'Adventure, Drama, War',
 'Drama, History, Sport',
 'Comedy, Drama, Romance',
 'Action, Comedy, Crime, Fantasy',
 'Adventure, Animation, Comedy, Drama, Family, Fantasy, Sci-Fi',
 'Adventure, Comedy, Family, Fantasy',
 'Biography, Drama, Music, Romance',
 'Action, Adventure, Animation, Comedy, Family, Fantasy, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Comedy, Crime',
 'Documentary, Drama, War',
 'Adventure, Comedy, Sci-Fi',
 'Action, Drama, Thriller, War',
 'Comedy, Drama, Musical, Romance',
 'Comedy, Drama, Romance',
 'Comedy, Sport',
 'Action, Thriller',
 'Crime, Mystery, Thriller',
 'Action, Comedy, Crime',
 'Action, Thriller',
 'Comedy, Crime',
 'Action, Comedy, Documentary',
 'Crime, Thriller',
 'Action, Adventure, Crime, Thriller',
 'Biography, Comedy, Crime, Drama',
 'Drama, Music',
 'Crime, Drama, Mystery, Thriller',
 'Action, Adventure, Sci-Fi',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Romance',
 'Action, Fantasy, Thriller',
 'Biography, Drama, Sport',
 'Action, Sci-Fi, Thriller',
 'Action, Biography, Drama, Sport, War',
 'Drama, Mystery, Thriller',
 'Adventure, Animation, Comedy, Crime, Drama, Family, Sci-Fi',
 'Action, Comedy, Sci-Fi, Western',
 'Adventure, Comedy, Family, Fantasy',
 'Comedy, Drama',
 'Comedy, Fantasy',
 'Action, Drama, History, War',
 'Comedy',
 'Action, Adventure, Thriller',
 'Action, Comedy, Drama, Family',
 'Comedy, Family, Fantasy',
 'Comedy, Drama, Romance',
 'Action, Adventure, Comedy, Family, Sci-Fi',
 'Action, Crime, Sci-Fi, Thriller',
 'Comedy, Crime',
 'Action, Adventure, Comedy, Family, Sci-Fi',
 'Action, Thriller',
 'Adventure, Animation, Comedy, Family, Fantasy, History, Sci-Fi',
 'Action, Drama',
 'Action, Comedy, War',
 'Comedy, Romance',
 'Horror, Mystery, Thriller',
 'Comedy, Crime',
 'Comedy, Family, Fantasy, Music, Romance',
 'Comedy, Drama, Romance',
 'Adventure, Comedy, Family, Fantasy, Romance, Sci-Fi',
 'Comedy',
 'Action, Drama, Sport',
 'Action, Adventure, Comedy, Sci-Fi',
 'Comedy',
 'Crime, Drama, Thriller',
 'Action, Drama, History, War',
 'Adventure, Comedy, Crime',
 'Comedy, Family, Romance',
 'Action, Adventure, Sci-Fi',
 'Drama, Romance',
 'Adventure, Animation, Comedy, Family, Fantasy',
 'Crime, Drama',
 'Horror, Mystery',
 'Comedy, Drama, Sport',
 'Action, Adventure, Animation, Family, Fantasy, Mystery',
 'Action, Drama, Mystery, Sci-Fi',
 'Action, Adventure, Animation, Comedy, Family',
 'Action, Sci-Fi',
 'Action, Adventure, Drama, Sci-Fi',
 'Action, Biography, Crime, Drama, Thriller',
 'Drama, Thriller',
 'Comedy, Crime',
 'Adventure, Animation, Comedy, Drama, Family',
 'Action, Comedy, Crime, Romance',
 'Action, Drama',
 'Action, Adventure, Thriller',
 'Action, Crime, Thriller',
 'Comedy, Romance',
 'Comedy',
 'Action, Adventure, Drama, History',
 'Action, Adventure, Comedy, Family, Romance',
 'Drama, Fantasy, Romance, Sci-Fi',
 'Comedy',
 'Crime, Drama, Thriller',
 'Adventure, Animation, Comedy, Family, Fantasy, Musical, Romance',
 'Adventure, Family, Fantasy',
 'Comedy, Family',
 'Horror, Mystery',
 'Action, Adventure, Comedy, Family, Fantasy, Sci-Fi',
 'Action, Comedy, Crime, Music, Romance, Thriller',
 'Action, Adventure, Animation, Comedy, Drama, Family, Fantasy',
 'Drama, Music, Musical',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Thriller',
 'Horror, Mystery',
 'Comedy, Romance',
 'Crime, Drama, Mystery, Thriller',
 'Biography, Drama',
 'Comedy',
 'Crime, Drama, Mystery, Thriller',
 'Action, Fantasy, Horror, War',
 'Horror, Mystery, Thriller',
 'Action, Mystery, Sci-Fi, Thriller',
 'Comedy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Family, Fantasy, Sci-Fi',
 'Action, Crime, Thriller',
 'Comedy',
 'Action, Mystery, Thriller',
 'Adventure, Animation, Drama, Family, Fantasy, Musical',
 'Horror, Mystery',
 'Action, Crime, Thriller',
 'Action, Adventure, Drama',
 'Drama, Western',
 'Adventure, Comedy, Family, Fantasy',
 'Action, Crime, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Crime, Drama, Thriller',
 'Drama, Mystery, Sci-Fi, Thriller',
 'Action, Adventure, Comedy, Crime',
 'Crime, Drama, Mystery, Thriller',
 'Animation, Comedy, Family, Fantasy, Horror',
 'Fantasy, Mystery, Romance, Sci-Fi, Thriller',
 'Comedy, Drama',
 'Adventure, Animation, Comedy, Drama, Family, Musical',
 'Drama, Sport',
 'Comedy',
 'Comedy, Family, Fantasy',
 'Comedy, Family, Fantasy',
 'Comedy, Drama, History, Romance',
 'Comedy, Romance',
 'Adventure, Animation, Comedy, Family',
 'Action, Adventure, Sci-Fi',
 'Animation, Drama, Family, Musical, Romance',
 'Crime, Drama, Mystery, Thriller',
 'Comedy',
 'Adventure, Animation, Comedy, Family, Fantasy, Musical, Romance',
 'Action, Thriller',
 'Action, Comedy, Crime',
 'Comedy, Crime, Romance, Thriller',
 'Comedy, Romance',
 'Adventure, Animation, Comedy, Fantasy',
 'Action, Adventure, Comedy, Crime, Family, Sci-Fi',
 'Action, Biography, Crime, Drama, History',
 'Biography, Drama',
 'Biography, Drama, History',
 'Horror, Mystery, Thriller',
 'Comedy, Romance',
 'Crime, Drama, Thriller',
 'Drama, History, Thriller, War',
 'Adventure, Drama, History, Romance, War',
 'Comedy, Drama, Romance',
 'Comedy, Family, Romance',
 'Biography, Drama, Sport',
 'Drama, Mystery, Sci-Fi, Thriller',
 'Action, Adventure, Drama, Thriller',
 'Adventure, Comedy, Drama, Family, Romance',
 'Biography, Drama, Romance',
 'Action, Adventure, Comedy, Romance, Thriller, Western',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Romance',
 'Action, Adventure, Drama, War',
 'Drama, Thriller',
 'Action, Biography, Drama, Sport',
 'Comedy, Romance',
 'Adventure, Comedy, Drama',
 'Action, Adventure, Family, Fantasy, Mystery, Sci-Fi',
 'Action, Comedy, Family, Fantasy',
 'Comedy, Romance',
 'Crime, Drama, Thriller',
 'Action, Drama, Sci-Fi',
 'Comedy, Family, Sci-Fi',
 'Crime, Drama, Thriller',
 'Action, Mystery, Thriller',
 'Crime, Drama, Mystery, Thriller',
 'Action, Adventure, Drama, Sci-Fi, Thriller',
 'Comedy, Romance',
 'Action, Comedy, Crime',
 'Fantasy, Horror, Mystery, Thriller',
 'Action, Drama, Thriller, War',
 'Action, Comedy, Crime',
 'Comedy, Drama',
 'Biography, Drama, Thriller, War',
 'Drama, Music, Romance',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Fantasy',