In [2]:
# Include this line to make plots interactive
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
#Import CSVs
top1000 = pd.read_csv('data_sets/Highest Holywood Grossing Movies.csv')
top5000 = pd.read_csv('data_sets/tmdb_5000_movies.csv')

top1000.head()
#top5000.head()

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,16-Dec-15,936662225,1132859475,2069521700,"Action, Adventure, Sci-Fi",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,24-Apr-19,858373000,1939128328,2797501328,"Action, Adventure, Drama, Sci-Fi",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,16-Dec-09,760507625,2086738578,2847246203,"Action, Adventure, Fantasy, Sci-Fi",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"Action, Adventure, Sci-Fi",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"Action, Adventure, Sci-Fi",2 hr 29 min,NaN

In [4]:
#Clean up data. Rows to keep: Top1000: 'Title', 'Distributor', 'Domestic Sales (in $)', 'International Sales (in $)', 'Genre'
#Top 5000:'title', 'vote_average', 'revenue', 'release_date', 'budget'

top1000 = top1000[['Title', 'Distributor', 'Domestic Sales (in $)', 'International Sales (in $)', 'Genre']]
top5000 = top5000[['title', 'vote_average', 'release_date', 'revenue', 'budget']]

top1000.head()
#top5000.head()

,Title,Distributor,Domestic Sales (in $),International Sales (in $),Genre
0,Star Wars: Episode VII - The Force Awakens (2015),Walt Disney Studios Motion Pictures,936662225,1132859475,"Action, Adventure, Sci-Fi"
1,Avengers: Endgame (2019),Walt Disney Studios Motion Pictures,858373000,1939128328,"Action, Adventure, Drama, Sci-Fi"
2,Avatar (2009),Twentieth Century Fox,760507625,2086738578,"Action, Adventure, Fantasy, Sci-Fi"
3,Black Panther (2018),Walt Disney Studios Motion Pictures,700426566,647171407,"Action, Adventure, Sci-Fi"
4,Avengers: Infinity War (2018),Walt Disney Studios Motion Pictures,678815482,1369544272,"Action, Adventure, Sci-Fi"

In [5]:
#Clean up titles in Top1000 for easier merge

new_title = []

for x in top1000['Title']:
    
    old_title = x
    size = len(old_title)
    # Slice string to remove last 3 characters from
    Title = old_title[:size - 7]
    new_title.append(Title)
    #top1000.replace(to_replace= top1000['Title'], 
                     #value=Title 
                     #)
            
del top1000['Title']


            
top1000['title'] =  new_title


top1000.head()

,Distributor,Domestic Sales (in $),International Sales (in $),Genre,title
0,Walt Disney Studios Motion Pictures,936662225,1132859475,"Action, Adventure, Sci-Fi",Star Wars: Episode VII - The Force Awakens
1,Walt Disney Studios Motion Pictures,858373000,1939128328,"Action, Adventure, Drama, Sci-Fi",Avengers: Endgame
2,Twentieth Century Fox,760507625,2086738578,"Action, Adventure, Fantasy, Sci-Fi",Avatar
3,Walt Disney Studios Motion Pictures,700426566,647171407,"Action, Adventure, Sci-Fi",Black Panther
4,Walt Disney Studios Motion Pictures,678815482,1369544272,"Action, Adventure, Sci-Fi",Avengers: Infinity War

In [6]:
#merge the two datasets

final_movie_dataset = top1000.merge(top5000, how='left', on='title')

final_movie_dataset = final_movie_dataset.dropna(how='any',axis=0) 

final_movie_dataset.head()

#final_movie_dataset['release_date'].max()

,Distributor,Domestic Sales (in $),International Sales (in $),Genre,title,vote_average,release_date,revenue,budget
2,Twentieth Century Fox,760507625,2086738578,"Action, Adventure, Fantasy, Sci-Fi",Avatar,7.2,2009-12-10,2.787965e+09,237000000.0
6,Paramount Pictures,659363944,1542283320,"Drama, Romance",Titanic,7.5,1997-11-18,1.845034e+09,200000000.0
7,Universal Pictures,652385625,1018130819,"Action, Adventure, Sci-Fi",Jurassic World,6.5,2015-06-09,1.513529e+09,150000000.0
8,Walt Disney Studios Motion Pictures,623357910,895457605,"Action, Adventure, Sci-Fi",The Avengers,7.4,2012-04-25,1.519558e+09,220000000.0
11,Walt Disney Studios Motion Pictures,543638043,1119261396,"Adventure, Animation, Drama, Family, Musical",The Lion King,8.0,1994-06-23,7.882418e+08,45000000.0

In [7]:
#Update revenue

for row in final_movie_dataset:
    new_rev = (final_movie_dataset['Domestic Sales (in $)']+ final_movie_dataset['International Sales (in $)'])

    
    
del final_movie_dataset['revenue']


            
final_movie_dataset['Revenue'] =  new_rev

final_movie_dataset.head()

,Distributor,Domestic Sales (in $),International Sales (in $),Genre,title,vote_average,release_date,budget,Revenue
2,Twentieth Century Fox,760507625,2086738578,"Action, Adventure, Fantasy, Sci-Fi",Avatar,7.2,2009-12-10,237000000.0,2847246203
6,Paramount Pictures,659363944,1542283320,"Drama, Romance",Titanic,7.5,1997-11-18,200000000.0,2201647264
7,Universal Pictures,652385625,1018130819,"Action, Adventure, Sci-Fi",Jurassic World,6.5,2015-06-09,150000000.0,1670516444
8,Walt Disney Studios Motion Pictures,623357910,895457605,"Action, Adventure, Sci-Fi",The Avengers,7.4,2012-04-25,220000000.0,1518815515
11,Walt Disney Studios Motion Pictures,543638043,1119261396,"Adventure, Animation, Drama, Family, Musical",The Lion King,8.0,1994-06-23,45000000.0,1662899439

In [8]:
#Create profit column

for row in final_movie_dataset:
    value = (final_movie_dataset['Revenue']- final_movie_dataset['budget'])
  


final_movie_dataset['Profit/Loss']= value

final_movie_dataset.head()

,Distributor,Domestic Sales (in $),International Sales (in $),Genre,title,vote_average,release_date,budget,Revenue,Profit/Loss
2,Twentieth Century Fox,760507625,2086738578,"Action, Adventure, Fantasy, Sci-Fi",Avatar,7.2,2009-12-10,237000000.0,2847246203,2.610246e+09
6,Paramount Pictures,659363944,1542283320,"Drama, Romance",Titanic,7.5,1997-11-18,200000000.0,2201647264,2.001647e+09
7,Universal Pictures,652385625,1018130819,"Action, Adventure, Sci-Fi",Jurassic World,6.5,2015-06-09,150000000.0,1670516444,1.520516e+09
8,Walt Disney Studios Motion Pictures,623357910,895457605,"Action, Adventure, Sci-Fi",The Avengers,7.4,2012-04-25,220000000.0,1518815515,1.298816e+09
11,Walt Disney Studios Motion Pictures,543638043,1119261396,"Adventure, Animation, Drama, Family, Musical",The Lion King,8.0,1994-06-23,45000000.0,1662899439,1.617899e+09

In [9]:
#Calculate domestic and international sales distributions


for row in final_movie_dataset:
    dom_rate = ((final_movie_dataset['Domestic Sales (in $)']/final_movie_dataset['Revenue'])*100).map("{:.2f}%".format)
    
final_movie_dataset['Domestic Sales (as % of total Revenue)'] = dom_rate

for row in final_movie_dataset:
    int_rate = ((final_movie_dataset['International Sales (in $)']/final_movie_dataset['Revenue'])*100).map("{:.2f}%".format)
    
final_movie_dataset['International Sales (as % of total Revenue)'] = int_rate

#Organize columns into more logical order

final_movie_dataset = final_movie_dataset[['title',
                                           'Distributor',
                                           'Genre',
                                           'release_date',
                                           'budget',
                                           'Domestic Sales (in $)',
                                           'International Sales (in $)',
                                           'Domestic Sales (as % of total Revenue)',
                                           'International Sales (as % of total Revenue)',
                                           'Revenue',
                                           'Profit/Loss',
                                           'vote_average'
                                          ]]


final_movie_dataset.head(20)

,title,Distributor,Genre,release_date,budget,Domestic Sales (in $),International Sales (in $),Domestic Sales (as % of total Revenue),International Sales (as % of total Revenue),Revenue,Profit/Loss,vote_average
2,Avatar,Twentieth Century Fox,"Action, Adventure, Fantasy, Sci-Fi",2009-12-10,237000000.0,760507625,2086738578,26.71%,73.29%,2847246203,2.610246e+09,7.2
6,Titanic,Paramount Pictures,"Drama, Romance",1997-11-18,200000000.0,659363944,1542283320,29.95%,70.05%,2201647264,2.001647e+09,7.5
7,Jurassic World,Universal Pictures,"Action, Adventure, Sci-Fi",2015-06-09,150000000.0,652385625,1018130819,39.05%,60.95%,1670516444,1.520516e+09,6.5
8,The Avengers,Walt Disney Studios Motion Pictures,"Action, Adventure, Sci-Fi",2012-04-25,220000000.0,623357910,895457605,41.04%,58.96%,1518815515,1.298816e+09,7.4
11,The Lion King,Walt Disney Studios Motion Pictures,"Adventure, Animation, Drama, Family, Musical",1994-06-23,45000000.0,543638043,1119261396,32.69%,67.31%,1662899439,1.617899e+09,8.0
12,The Dark Knight,Warner Bros.,"Action, Crime, Drama, Thriller",2008-07-16,185000000.0,534858444,471115201,53.17%,46.83%,1005973645,8.209736e+08,8.2
18,Star Wars: Episode I - The Phantom Menace,Twentieth Century Fox,"Action, Adventure, Fantasy, Sci-Fi",1999-05-19,115000000.0,474544677,552538030,46.20%,53.80%,1027082707,9.120827e+08,6.3
20,Avengers: Age of Ultron,Walt Disney Studios Motion Pictures,"Action, Adventure, Sci-Fi",2015-04-22,280000000.0,459005868,943803672,32.72%,67.28%,1402809540,1.122810e+09,7.3
21,The Dark Knight Rises,Warner Bros.,"Action, Crime, Drama",2012-07-16,250000000.0,448139099,633003513,41.45%,58.55%,1081142612,8.311426e+08,7.6
22,Shrek 2,DreamWorks Distribution,"Adventure, Animation, Comedy, Family, Fantasy,...",2004-05-19,150000000.0,441226247,487534523,47.51%,52.49%,928760770,7.787608e+08,6.7
23,E.T. the Extra-Terrestrial,Universal Pictures,"Adventure, Family, Sci-Fi",1982-04-03,10500000.0,435110554,304203888,58.85%,41.15%,739314442,7.288144e+08,7.3
26,The Hunger Games: Catching Fire,Lionsgate,"Action, Adventure, Drama, Sci-Fi, Thriller",2013-11-15,130000000.0,424668047,440343699,49.09%,50.91%,865011746,7.350117e+08,7.4
27,Pirates of the Caribbean: Dead Man's Chest,Walt Disney Studios Motion Pictures,"Action, Adventure, Fantasy",2006-06-20,200000000.0,423315812,642863935,39.70%,60.30%,1066179747,8.661797e+08,7.0
28,The Lion King,Walt Disney Studios Motion Pictures,"Adventure, Animation, Drama, Family, Musical",1994-06-23,45000000.0,422783777,640828028,39.75%,60.25%,1063611805,1.018612e+09,8.0
30,Toy Story 3,Walt Disney Studios Motion Pictures,"Adventure, Animation, Comedy, Family, Fantasy",2010-06-16,200000000.0,415004880,651965931,38.90%,61.10%,1066970811,8.669708e+08,7.6
32,Iron Man 3,Walt Disney Studios Motion Pictures,"Action, Adventure, Sci-Fi",2013-04-18,200000000.0,409013994,805797258,33.67%,66.33%,1214811252,1.014811e+09,6.8
33,Captain America: Civil War,Walt Disney Studios Motion Pictures,"Action, Adventure, Sci-Fi",2016-04-27,250000000.0,408084349,745253147,35.38%,64.62%,1153337496,9.033375e+08,7.1
34,The Hunger Games,Lionsgate,"Action, Adventure, Sci-Fi, Thriller",2012-03-12,75000000.0,408010692,286384032,58.76%,41.24%,694394724,6.193947e+08,6.9
35,Spider-Man,Sony Pictures Entertainment (SPE),"Action, Adventure, Sci-Fi",2002-05-01,139000000.0,407022860,418002176,49.33%,50.67%,825025036,6.860250e+08,6.8
37,Jurassic Park,Universal Pictures,"Action, Adventure, Sci-Fi, Thriller",1993-06-11,63000000.0,404214720,629713583,39.10%,60.90%,1033928303,9.709283e+08,7.6

In [10]:
list1 = final_movie_dataset['Genre'].tolist()

unique_list = []


for entry in list1:
    #Split the string into a list
    genres_from_entry = entry.split(", ")

    #For loop to add genre to unique_list if not alredy in unique_list
    for genre in genres_from_entry:
        if genre not in unique_list:
            unique_list.append(genre)

In [11]:
#output of unique_list
unique_list

['Action',
 'Adventure',
 'Fantasy',
 'Sci-Fi',
 'Drama',
 'Romance',
 'Animation',
 'Family',
 'Musical',
 'Crime',
 'Thriller',
 'Comedy',
 'Biography',
 'War',
 'Mystery',
 'Sport',
 'Horror',
 'Music',
 'History',
 'Western',
 'Documentary']

In [12]:
# Create empty dictionary to hold genre info
genre_dict = {}

In [13]:
###Add each unique genre to the dictionary with###

#Loop through unique_list
for entry in unique_list:

    ##Create dictionary entry to genre
    genre_dict.update(
        {
            #Make key for each genre based on genre name + '_dict_key'
            entry.lower() + '_dict_key': 
            {
                #Create Key-Value pairs
                "genre" : entry,
                "genre_total_title_count" : 0,
                "genre_total_budget" : 0,
                "genre_total_revenue" : 0,
                "genre_domestic_sales" : 0,
                "genre_international_sales" : 0,
                "sum_vote_average" : 0,
                "movie_title_list" : []
            
            
            
            
            
            }
        }



    )

In [14]:
# for loop to index through each row of the dataframe
for index, row in final_movie_dataset.iterrows():
    #row by row within for loop, creates a list of lowercase genres for each 
    genre_list_by_movie = row['Genre'].lower().split(", ")
    
    # For Loop to go through each element of the genre_list_by_movie
    for genre in genre_list_by_movie:

        #sets variable that will be used to access correct dictionary item by key
        genre_dict_key = genre + '_dict_key'
        
        #Set the dictionary values for the corresponding elements
        genre_dict[genre_dict_key]['genre_total_title_count'] = genre_dict[genre_dict_key]['genre_total_title_count'] + 1
        genre_dict[genre_dict_key]['genre_total_budget'] = genre_dict[genre_dict_key]['genre_total_budget'] + row['budget']
        genre_dict[genre_dict_key]['genre_total_revenue'] = genre_dict[genre_dict_key]['genre_total_revenue'] + row['Revenue']
        genre_dict[genre_dict_key]['genre_domestic_sales'] = genre_dict[genre_dict_key]['genre_domestic_sales'] + row['Domestic Sales (in $)']
        genre_dict[genre_dict_key]['genre_international_sales'] = genre_dict[genre_dict_key]['genre_international_sales'] + row['International Sales (in $)']
        genre_dict[genre_dict_key]['sum_vote_average'] = genre_dict[genre_dict_key]['sum_vote_average'] + row['vote_average']
        genre_dict[genre_dict_key]['movie_title_list'].append(row['title'])

In [15]:
#Make new dataframe from genre_dict
genre_df = pd.DataFrame.from_dict(genre_dict,orient='index')


#reset so index is numeric
genre_df.reset_index(drop=True,inplace=True)

In [16]:
#Output of genre_df
genre_df

,genre,genre_total_title_count,genre_total_budget,genre_total_revenue,genre_domestic_sales,genre_international_sales,sum_vote_average,movie_title_list
0,Action,300,3.377368e+10,131813301506,53560793805,78252507701,1938.7,"[Avatar, Jurassic World, The Avengers, The Dar..."
1,Adventure,316,3.700137e+10,159520075328,61956135804,97563939524,2050.9,"[Avatar, Jurassic World, The Avengers, The Lio..."
2,Fantasy,154,1.744549e+10,73400721969,28947837246,44452884723,982.7,"[Avatar, Star Wars: Episode I - The Phantom Me..."
3,Sci-Fi,160,1.966200e+10,78830235034,31693650614,47136584420,1037.7,"[Avatar, Jurassic World, The Avengers, Star Wa..."
4,Drama,230,1.542450e+10,76009228534,34665514684,41343713850,1581.4,"[Titanic, The Lion King, The Dark Knight, The ..."
5,Romance,120,7.227488e+09,39192702764,17816203438,21376499326,763.5,"[Titanic, Shrek 2, Aladdin, Forrest Gump, Shre..."
6,Animation,102,1.092699e+10,48612985382,18784611980,29828373402,670.1,"[The Lion King, Shrek 2, The Lion King, Toy St..."
7,Family,169,1.625749e+10,71815155881,29288660969,42526494912,1076.4,"[The Lion King, Shrek 2, E.T. the Extra-Terres..."
8,Musical,33,2.364488e+09,14841841976,5893551024,8948290952,216.2,"[The Lion King, The Lion King, Frozen, Aladdin..."
9,Crime,105,6.780300e+09,29080452307,14328299490,14752152817,692.6,"[The Dark Knight, The Dark Knight Rises, Despi..."
10,Thriller,173,1.429380e+10,60701063363,25503357939,35197705424,1145.6,"[The Dark Knight, The Hunger Games: Catching F..."
11,Comedy,308,2.177920e+10,97018044496,45146773157,51871271339,1928.4,"[Shrek 2, Toy Story 3, Frozen, Finding Nemo, T..."
12,Biography,28,1.399300e+09,6835366119,3745340041,3090026078,203.8,"[American Sniper, The Blind Side, Lincoln, A B..."
13,War,23,1.548300e+09,5518880939,2926271538,2592609401,161.0,"[American Sniper, Saving Private Ryan, Pearl H..."
14,Mystery,71,4.962075e+09,23226798099,9842955867,13383842232,474.5,"[Alice in Wonderland, Harry Potter and the Hal..."
15,Sport,22,1.371500e+09,4921435286,2897260268,2024175018,145.0,"[The Blind Side, Cars, Cars 2, The Karate Kid,..."
16,Horror,28,1.006875e+09,6846755810,3257436511,3589319299,180.5,"[The Exorcist, World War Z, Hotel Transylvania..."
17,Music,20,8.650000e+08,5366523902,2617348841,2749175061,126.6,"[Alvin and the Chipmunks: The Squeakquel, Alvi..."
18,History,19,1.600000e+09,5365559550,2380538600,2985020950,131.9,"[Pearl Harbor, The Revenant, Lincoln, Apollo 1..."
19,Western,10,1.004000e+09,3018365603,1312010137,1706355466,68.6,"[Dances with Wolves, The Revenant, True Grit, ..."
20,Documentary,2,2.600000e+07,394132674,236424463,157708211,13.2,"[Fahrenheit 9/11, Jackass 3D]"

In [103]:
total_revenue = []
distributors = []

distributors = final_movie_dataset["Distributor"].unique()

distributors_count = final_movie_dataset["Distributor"].value_counts()

distributor_sum = final_movie_dataset.groupby("Distributor")["Revenue"].sum()
distributor_sum.sort_values(ascending=False)

distributor_bud = final_movie_dataset.groupby("Distributor")["budget"].sum()
distributor_bud.sort_values(ascending=False)

average_sum = distributor_sum / distributors_count

average_bud = distributor_bud / distributors_count

distributors_df = pd.DataFrame({
    "Distributors": distributors,
    "Number of movies": distributors_count,
    "Revenue": distributor_sum,
    "Budget": distributor_bud,
    "Average Revenue": average_sum,
    "Average Budget": average_bud
})


distributors_df

,Distributors,Number of movies,Revenue,Budget,Average Revenue,Average Budget
Artisan Entertainment,Twentieth Century Fox,1,248639099,6.000000e+04,2.486391e+08,6.000000e+04
Columbia Pictures,Paramount Pictures,4,1064812975,2.150000e+08,2.662032e+08,5.375000e+07
Dimension Films,Universal Pictures,6,1103281755,2.090000e+08,1.838803e+08,3.483333e+07
DreamWorks,Walt Disney Studios Motion Pictures,19,9871651542,2.490000e+09,5.195606e+08,1.310526e+08
DreamWorks Distribution,Warner Bros.,16,5565291020,1.126000e+09,3.478307e+08,7.037500e+07
FilmDistrict,DreamWorks Distribution,2,332189519,7.500000e+07,1.660948e+08,3.750000e+07
Focus Features,Lionsgate,1,178062759,1.400000e+07,1.780628e+08,1.400000e+07
Fox Searchlight Pictures,Sony Pictures Entertainment (SPE),4,1117424454,5.550000e+07,2.793561e+08,1.387500e+07
IFC Films,DreamWorks,1,368744044,5.000000e+06,3.687440e+08,5.000000e+06
Lionsgate,New Line Cinema,12,5584123187,9.600000e+08,4.653436e+08,8.000000e+07
Metro-Goldwyn-Mayer (MGM),Newmarket Films,8,2192681638,5.625000e+08,2.740852e+08,7.031250e+07
Miramax,Summit Entertainment,8,1780571391,3.180000e+08,2.225714e+08,3.975000e+07
New Line Cinema,Columbia Pictures,17,6306075178,1.027000e+09,3.709456e+08,6.041176e+07
Newmarket Films,IFC Films,1,612054506,3.000000e+07,6.120545e+08,3.000000e+07
Orion Pictures,TriStar Pictures,3,835497402,4.700000e+07,2.784991e+08,1.566667e+07
Paramount Pictures,Orion Pictures,84,27900719497,6.754015e+09,3.321514e+08,8.040494e+07
Relativity Media,Metro-Goldwyn-Mayer (MGM),1,226904017,7.500000e+07,2.269040e+08,7.500000e+07
Revolution Studios,Miramax,7,1246690255,3.915000e+08,1.780986e+08,5.592857e+07
STX Entertainment,The Weinstein Company,1,183936074,2.000000e+07,1.839361e+08,2.000000e+07
Screen Gems,Fox Searchlight Pictures,2,292185077,4.200000e+07,1.460925e+08,2.100000e+07
Sony Pictures Classics,Revolution Studios,1,213525736,1.700000e+07,2.135257e+08,1.700000e+07
Sony Pictures Entertainment (SPE),Artisan Entertainment,81,26804703780,7.127700e+09,3.309223e+08,8.799630e+07
Summit Entertainment,Sony Pictures Classics,4,2016953630,2.130000e+08,5.042384e+08,5.325000e+07
The Weinstein Company,Screen Gems,5,1644874598,2.200000e+08,3.289749e+08,4.400000e+07
TriStar Pictures,USA Films,5,1570872536,3.850000e+08,3.141745e+08,7.700000e+07
Twentieth Century Fox,STX Entertainment,90,37951909795,8.116500e+09,4.216879e+08,9.018333e+07
USA Films,Dimension Films,1,207515725,4.800000e+07,2.075157e+08,4.800000e+07
United Artists,United Artists Releasing,1,201545517,7.500000e+07,2.015455e+08,7.500000e+07
United Artists Releasing,FilmDistrict,1,203783845,3.000000e+07,2.037838e+08,3.000000e+07
Universal Pictures,Relativity Media,88,32118219521,6.113300e+09,3.649798e+08,6.946932e+07
Walt Disney Studios Motion Pictures,United Artists,105,49022735890,1.144299e+10,4.668832e+08,1.089808e+08
Warner Bros.,Focus Features,118,44575180555,1.108518e+10,3.777558e+08,9.394218e+07